body {
    background-color: #ee9b00;
    
}
#logoPasta{
    position: relative;
    left: 2.5rem;
    
}

#barraSuperior {
    background-color: #9b2226;
        padding: 1px;
        position: relative;
        width: 100%;
        border-radius: 15px;
    }
    #barraSuperior ul{
       list-style-type: none;
       
    }
    #barraSuperior li{
       display: inline;
       text-align: center;
       margin: 0 0 0 0;
       font-family:'Cascadia Code', monospace;
       cursor: pointer; 
 
    }
    #barraSuperior li a {
       padding: 2px 7px 2px 7px;
       text-decoration: none;
    }
    #barraSuperior li a:hover{
       background-color: #976b2a;
       color: #ffffff;
    }
    



#tituloPastas {
    color: #370617;
    position: relative;
    width: 80px;
    margin-left: 120px;
    left: -100px;
    font-size: 25px;
    font-family: 'Cascadia Code', monospace;
}
    

#resultado{
    position: relative;
    font-family: 'Cascadia Code', monospace;

}




.noMostrado {
    display: none;
} 